---
title: "Chi Siamo";
summary: "Un semplice sito web per un bed and breakfast.";
url: "bed-and-breakfast-website";

import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Chi Siamo | LangAmore">
    <style>
        .fade-in {
            opacity: 0;
            transition: opacity 1.5s ease-in-out;
        }

        .fade-in.visible {
            opacity: 1;
        }

        .custom-image {
            max-width: 55%;
            height: auto;
        }
    </style>

    <main class="container mx-auto px-8 py-12">
        <h1 class="text-4xl font-bold text-center text-primary mb-6 fade-in">
            LangAmore: Un Rifugio di Relax Tra le Colline Piemontesi
        </h1>
        <p class="text-lg mt-4 text-gray-700 text-center leading-8 max-w-3xl mx-auto fade-in">
            Nascosta tra le suggestive colline delle Langhe, LangAmore non è solo una guest house, ma un rifugio per l'anima.
            <br />
            Immersa nel borgo di Pollenzo, a pochi passi da Alba e Bra, LangAmore vi invita a riscoprire il piacere del riposo e la bellezza della semplicità.
            <br />
            Lasciatevi avvolgere dall'atmosfera calda e accogliente delle nostre camere, arredate con gusto e curate in ogni dettaglio per garantirvi un soggiorno confortevole e rilassante.
            <br />
            Svegliatevi con il profumo della nostra ricca colazione, preparata con prodotti freschi e genuini del territorio.
            <br />
            Esplorate le Langhe, un territorio ricco di storia, cultura e sapori autentici.
            <br />
            Concedetevi un'esperienza enogastronomica indimenticabile, degustando i vini pregiati e i piatti tipici della tradizione piemontese.
            <br />
            A LangAmore, il tempo scorre lentamente, tra passeggiate nella natura, visite ai borghi medievali e momenti di relax nella nostra accogliente sala comune. Venite a scoprire LangAmore e lasciatevi incantare dalla bellezza del Piemonte.
        </p>

        <div class="mt-8 flex justify-center fade-in">
            <img src="/images/langhe/pollenzo.jpeg" alt="Colazione LangAmore" class="custom-image rounded-lg shadow-lg" />
        </div>

        <section class="mt-12 fade-in">
            <h2 class="text-3xl font-semibold text-center text-primary">Un Territorio da Esplorare</h2>
            <div class="flex justify-center mt-4">
                <img src="/images/langhe/paesaggio.jpeg" alt="Paesaggio Langhe" class="custom-image rounded-lg shadow-lg" />
            </div>
        </section>

        <section class="mt-12 fade-in">
            <h2 class="text-3xl font-semibold text-center text-primary">Un'Esperienza Enogastronomica Indimenticabile</h2>
            <div class="mt-4 flex justify-center">
                <img src="/images/langhe/cibo.jpeg" alt="Piatti tipici piemontesi" class="custom-image rounded-lg shadow-lg" />
            </div>
        </section>

        <section class="mt-12 fade-in">
            <h2 class="text-3xl font-semibold text-center text-primary">Momenti di Relax e Benessere</h2>
            <div class="flex justify-center mt-4">
                <img src="/images/langhe/relax.jpeg" alt="Sala comune LangAmore" class="custom-image rounded-lg shadow-lg" />
            </div>
        </section>

        <section class="mt-12 fade-in">
            <h2 class="text-3xl font-bold text-center text-primary">Cosa Vi Aspetta a LangAmore</h2>
            <ul class="list-disc list-inside text-lg mt-6 text-gray-700 mx-auto max-w-2xl">
                <li class="mt-4">Atmosfera accogliente e familiare</li>
                <li class="mt-4">Camere confortevoli e curate</li>
                <li class="mt-4">Colazione ricca e gustosa</li>
                <li class="mt-4">Posizione ideale per esplorare le Langhe</li>
                <li class="mt-4">Servizio attento e personalizzato</li>
                <li class="mt-4">Esperienze enogastronomiche autentiche</li>
                <li class="mt-4">Momenti di relax e benessere</li>
            </ul>
        </section>

        <section class="mt-12 fade-in">
            <h2 class="text-3xl font-bold text-center text-primary">Le Recensioni dei Nostri Ospiti</h2>
        
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
                <blockquote class="bg-white p-8 rounded-lg shadow-md">
                    <p class="text-lg font-medium text-gray-700">
                        "Ho trascorso un soggiorno meraviglioso presso il vostro bed and breakfast. La camera era pulita e confortevole, e la colazione era deliziosa. Tornerò sicuramente!"
                    </p>
                    <footer class="text-sm mt-4 text-gray-500">- Giovanni Rossi</footer>
                </blockquote>
                <blockquote class="bg-white p-8 rounded-lg shadow-md">
                    <p class="text-lg font-medium text-gray-700">
                        "Il bed and breakfast si trova in una posizione incantevole, con una vista mozzafiato sulla campagna. Il personale è stato cordiale e accogliente, e la camera era pulita e confortevole. Lo consiglio vivamente!"
                    </p>
                    <footer class="text-sm mt-4 text-gray-500">- Maria Bianchi</footer>
                </blockquote>
                <blockquote class="bg-white p-8 rounded-lg shadow-md">
                    <p class="text-lg font-medium text-gray-700">
                        "Ho trascorso un soggiorno fantastico presso il vostro bed and breakfast. La camera era spaziosa e confortevole, e la colazione era deliziosa. Tornerò sicuramente!"
                    </p>
                    <footer class="text-sm mt-4 text-gray-500">- Sara Esposito</footer>
                </blockquote>
            </div>
        </section>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const elements = document.querySelectorAll(".fade-in");
            const options = {
                root: null,
                rootMargin: "0px",
                threshold: 0.1
            };

            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible");
                        observer.unobserve(entry.target);
                    }
                });
            }, options);

            elements.forEach(element => {
                observer.observe(element);
            });
        });
    </script>
</BaseLayout>
