---
title: "Contatti"
summary: "Una pagina di contatti per LangAmore, un bed and breakfast tra le colline piemontesi."
url: "bed-and-breakfast-website"

import BaseLayout from "../layouts/baseLayout.astro"
---

<BaseLayout title="Contatti | LangAmore">
    <style>
        .contact-container {
            background-color: #f9f9f9;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 800px;
        }
        .contact-info {
            text-align: center;
        }
        .contact-info h2 {
            color: #3490dc;
        }
        .contact-info p {
            font-size: 1.1rem;
            color: #333;
        }
        .contact-info a {
            color: #3490dc;
            text-decoration: none;
            font-weight: 600;
        }
        .contact-info a:hover {
            text-decoration: underline;
        }
        .map-container {
            margin-top: 2rem;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        @media (min-width: 768px) {
            .contact-container {
                padding: 3rem;
            }
        }
        @media (min-width: 1024px) {
            .contact-container {
                padding: 4rem;
            }
        }
    </style>

    <main class="flex flex-col items-center px-4 py-6 sm:px-6 lg:px-8">
        <div class="contact-container">
            <h1 class="text-4xl font-bold mb-6 text-center text-primary">Contatti</h1>

            <div class="contact-info m-10">
                <h3 class="text-xl font-bold text-primary">LangAmore si trova in: </h3>
                <p>Via Regina Margherita, 6</p>
                <p>12042 Pollenzo (CN)</p>
            </div>

            <div class="contact-info">
                <p>Telefono: <a href="tel:+1234567890">1234567890</a></p>
                <p>Email: 
                    <a href="mailto:test@test.it">
                        test@test.it
                    </a>
                </p>
            </div>

            <div class="map-container w-full h-64 sm:h-80 lg:h-96 mt-8">
                <iframe 
                    class="w-full h-full"
                    src="https://www.google.com/maps/embed/v1/place?q=Via+Regina+Margherita,+6,+12042+Pollentia,+Bra+Province+of+Cuneo,+Italia&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" 
                    allowfullscreen="" 
                    loading="lazy">
                </iframe>
            </div>
        </div>
    </main>
</BaseLayout>
