---
title: "Contatti"
summary: "A simple website for a bed and breakfast business."
url: "bed-and-breakfast-website"

import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
---

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contatti</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    </head>
    <body>
        <Header />
        <main class="max-w-7xl mx-auto px-4 py-6 flex flex-col items-center ">
            <h1 class="text-2xl font-bold mb-4">Contatti</h1>
            <p>Telefono: 1234567890</p>
            <p>Email: 
                <a href="mailto:nomail@example.com">
                    test@test.it
                </a>
            </p>
        
            <h3 class="text-2xl font-bold mb-4">Dove siamo</h3>
            <!-- maps location -->
            <iframe 
                class="w-full h-96"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.135049544018!2d12.4926976155671!3d41.89193007921844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1325a5c7c4c0b2b3%3A0x7b6f1d5f7b6a4d9e!2sColosseo!5e0!3m2!1sen!2sit!4v1629380742252!5m2!1sen!2sit" 
                allowfullscreen="" 
                loading="lazy">
            </iframe>      
        </main>
        <Footer />
    </body>
</html>