---
title: "LangAmore | Guest House LangAmore";
summary: "Benvenuti alla Guest House LangAmore, situata nel suggestivo borgo di Pollenzo, ai piedi delle Langhe e a breve distanza da Alba e Bra. La nostra struttura offre un'esperienza unica di relax e scoperta delle bellezze enogastronomiche della regione, con ogni dettaglio pensato per garantire un soggiorno all'insegna del comfort e del benessere.";
url: "/";

import BaseLayout from "../layouts/baseLayout.astro";
import Slider from "../components/slider.astro";

import IndexPresentation from "../components/indexPresentation.astro";
---

<BaseLayout title="Home | LangAmore">
	<!-- Main content -->
	<main class="max-w-7xl mx-auto px-4 py-6 flex flex-col items-center">
		<!-- Title -->
		<h1 class="text-4xl font-bold text-gray-800 my-6 font-roboto">
			Guest House e locazione turistica
		</h1>
		<h1 class="text-4xl font-bold text-gray-800 my-6 font-roboto -mt-4 -mb-6">
			LangAmore
		</h1>


		<!-- Image Slider -->
		<Slider />

		<IndexPresentation />

		<!-- Call to Action -->
		<a
			href="/services"
			class="bg-blue-300 text-black hover:bg-blue-800 hover:text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 inline-block -mt-10 mb-8"
		>
			Scopri i Nostri Servizi
		</a>

	</main>

	<style>
		.booking-button {
			display: inline-block;
		}

		.booking-button img {
			width: 150px; /* Imposta la larghezza dell'immagine */
			height: auto; /* L'altezza si adatta automaticamente */
			border: none; /* Rimuovi il bordo dell'immagine */
			align-items: center; /* Allinea l'immagine al centro */
			vertical-align: middle; /* Allinea l'immagine verticalmente */
			margin-left: 30px; /* Aggiungi un margine a sinistra */
		}
	</style>
</BaseLayout>
