---
title: "LangAmore | Guest House LangAmore";
summary: "Benvenuti alla Guest House LangAmore, situata nel suggestivo borgo di Pollenzo, ai piedi delle Langhe e a breve distanza da Alba e Bra. La nostra struttura offre un'esperienza unica di relax e scoperta delle bellezze enogastronomiche della regione, con ogni dettaglio pensato per garantire un soggiorno all'insegna del comfort e del benessere.";
url: "/";

import BaseLayout from "../layouts/baseLayout.astro";
import Slider from "../components/slider.astro";

import IndexPresentation from "../components/indexPresentation.astro";
---

<BaseLayout title="Home | LangAmore">
	<!-- Main content -->
	<main class="max-w-7xl mx-auto px-4 py-6 flex flex-col items-center">
		<!-- Title -->
		<h1 class="text-4xl font-bold text-gray-800 my-6 font-roboto">
			Benvenuti alla Guest House LangAmore
		</h1>

		<!-- Image Slider -->
		<Slider />

		<IndexPresentation />

		<!-- Call to Action -->
		<a
			href="/services"
			class="bg-gradient-to-r from-red-500 to-blue-700 hover:from-blue-700 hover:to-red-900 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
		>
			Scopri i Nostri Servizi
		</a>

		<a
			href="https://www.booking.com/hotel/it/langamore-pollenzo.it.html"
			target="_blank"
			rel="noopener noreferrer"
			class="booking-button bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
		>
			Prenota ora su Booking.com
			<img src="/images/loghi/booking.png" alt="Booking Logo" />
		</a>
	</main>

	<style>
		.booking-button {
			display: inline-block;
		}

		.booking-button img {
			width: 150px; /* Imposta la larghezza dell'immagine */
			height: auto; /* L'altezza si adatta automaticamente */
			border: none; /* Rimuovi il bordo dell'immagine */
			align-items: center; /* Allinea l'immagine al centro */
			vertical-align: middle; /* Allinea l'immagine verticalmente */
			margin-left: 30px; /* Aggiungi un margine a sinistra */
		}
	</style>
</BaseLayout>
