---
title: "Bed and Breakfast Website";
summary: "A simple website for a bed and breakfast business.";
url: "bed-and-breakfast-website";

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
		/>
	</head>
	<body class="bg-gray-100">
		<!-- Header -->
		<Header />

		<!-- Main content -->
		<main class="max-w-7xl mx-auto px-4 py-6 flex flex-col items-center">
			<!-- Title -->
			<h1 class="text-4xl font-bold text-gray-800 my-6">
				Welcome to Our Website
			</h1>

			<!-- Image Slider -->
			<div class="flex overflow-x-scroll space-x-4 bg-gray-200">
				<div
					class="flex-none w-72 h-48 bg-gray-300 rounded-lg relative"
				>
					<img
						src="/images/casa.jpeg"
						alt="Image 1"
						class="w-full h-full object-cover rounded-lg"
					/>
				</div>
				<div
					class="flex-none w-72 h-48 bg-gray-300 rounded-lg relative"
				>
					<img
						src="/images/ingresso.jpeg"
						alt="Image 2"
						class="w-full h-full object-cover rounded-lg"
					/>
				</div>
				<div
					class="flex-none w-72 h-48 bg-gray-300 rounded-lg relative"
				>
					<img
						src="/images/stanza.jpeg"
						alt="Image 3"
						class="w-full h-full object-cover rounded-lg"
					/>
				</div>
			</div>

			<!-- Description -->
			<p class="text-lg text-gray-800 my-6 text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in
				lacus nec risus aliquam ultrices. Pellentesque habitant morbi
				tristique senectus et netus et malesuada fames ac turpis
				egestas. Phasellus quis erat et nunc ultricies facilisis. Nullam
				sit amet metus nec mauris lacinia faucibus. Phasellus nec odio
				nec mi luctus tincidunt.
			</p>

			<!-- Call to Action -->
			<a
				href="/contact"
				class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
			>
				Scopri i Nostri Servizi
			</a>

			<br />

			<!-- another CTA -->
			<a
				href="/contact"
				class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
			>
				Contattaci
			</a>
		</main>

		<!-- Footer -->
		<Footer />
	</body>
</html>
