---
title: "Bed and Breakfast Website";
summary: "A simple website for a bed and breakfast business.";
url: "bed-and-breakfast-website";

import BaseLayout from "../layouts/baseLayout.astro";
import Slider from "../components/slider.astro";
---

<BaseLayout title="Home | BB">
	<!-- Main content -->
	<main class="max-w-7xl mx-auto px-4 py-6 flex flex-col items-center">
		<!-- Title -->
		<h1 class="text-4xl font-bold text-gray-800 my-6">
			Welcome to Our Website
		</h1>

		<!-- Image Slider -->
		<Slider />

		<!-- Description -->
		<p class="text-lg text-gray-800 my-6 text-center">
			Benvenuti al Guest house LangAmore situata nel suggestivo borgo di
			Pollenzo, ai piedi delle Langhe e a breve distanza da Alba,Bra .La
			nostra guest house offre un'esperienza unica di relax e scoperta
			delle bellezze enogastronomiche della regione. dove ogni dettaglio è
			pensato per garantire un soggiorno all'insegna del comfort e del
			benessere. A LangAmore, ti sentirai come a casa, che tu sia qui per
			una fuga romantica, un viaggio enogastronomico o per necessità, la
			nostra guest house ti offrirà tutto ciò di cui hai bisogno per un
			soggiorno perfetto. LangAmore nasce dal desiderio di condividere
			l'amore per il Piemonte, un territorio ricco di storia, cultura e
			bellezze naturali. Situata nel cuore del borgo di Pollenzo, la
			nostra struttura offre una combinazione unica di tradizione e
			modernità, creando un rifugio perfetto per chi cerca tranquillità e
			comfort. Con un servizio attento e personalizzato. Situato a pochi
			km dall’ospedale di Verduno il LangAmore è il posto ideale sia per
			chi cerca un soggiorno di relax che per chi necessita di una
			sistemazione comoda e vicina ad una struttura sanitaria di
			eccellenza.
		</p>

		<!-- Call to Action -->
		<a
			href="/contact"
			class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
		>
			Scopri i Nostri Servizi
		</a>

		<br />

		<!-- another CTA -->
		<a
			href="/contact"
			class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
		>
			Contattaci
		</a>
	</main>
</BaseLayout>
