---
title: "Servizi";
summary: "A simple website for a bed and breakfast business.";
url: "https://langamorepollenzo/services";

import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Servizi | LangAmore">
    <div class="container mx-auto p-4 text-center mb-20 mt-10">
        <h1 class="text-3xl font-bold mb-4">I nostri servizi</h1>
        <p class="text-lg text-gray-600 mb-4">
            Offriamo una vasta gamma di convenzioni e servizi privati per rendere il tuo soggiorno
            indimenticabile.
        </p>
        <p class="text-lg text-gray-600 mb-4">
            Scopri le convenzioni incluse nel prezzo del tuo soggiorno:
        </p>
        <br>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
            <div class="card-container">
                <div class="card">
                    <div class="card-front">
                        <img
                            src="/images/conventions/tennis_court.png"
                            alt="Campo da tennis"
                            class="logo"
                        />
                        <div class="card-content">
                            <h3 class="card-title">Campo da tennis privato</h3>
                            <p class="card-text">
                                Goditi il nostro campo da tennis privato durante il tuo soggiorno.
                            </p>
                        </div>
                    </div>
                    <div class="card-back">
                        <p>
                            Prenota il nostro campo da tennis di terra rossa per goderti una partita immersa nel verde.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-front">
                        <img
                            src="/images/conventions/pollenzo.png"
                            alt="Tour privati"
                            class="logo"
                        />
                        <div class="card-content">
                            <h3 class="card-title">Tour privati a Pollenzo</h3>
                            <p class="card-text">
                                Esplora Pollenzo con guide personalizzate per un'esperienza unica.
                            </p>
                        </div>
                    </div>
                    <div class="card-back">
                        <p>
                            Scopri Pollenzo con i nostri tour privati per un'esperienza indimenticabile.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-front">
                        <img
                            src="/images/conventions/vespa.png"
                            alt="Giri in vespa"
                            class="logo"
                        />
                        <div class="card-content">
                            <h3 class="card-title">Giri in vespa</h3>
                            <p class="card-text">
                                Scopri il paesaggio circostante con i nostri giri in vespa.
                            </p>
                        </div>
                    </div>
                    <div class="card-back">
                        <p>
                            Noleggia una Vespa per esplorare la zona in modo divertente e avventuroso.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-front">
                        <img
                            src="/images/conventions/wine.png"
                            alt="Degustazioni vini"
                            class="logo"
                        />
                        <div class="card-content">
                            <h3 class="card-title">Degustazione vini</h3>
                            <p class="card-text">
                                Partecipa alle degustazioni di vini locali.
                            </p>
                        </div>
                    </div>
                    <div class="card-back">
                        <p>
                            Scopri i migliori vini locali con le nostre degustazioni guidate.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-container">
                <div class="card">
                    <div class="card-front">
                        <img
                            src="/images/conventions/parcheggio.jpg"
                            alt="Degustazioni vini"
                            class="logo px-20"
                        />
                        <div class="card-content">
                            <h3 class="card-title">Parcheggio interno e ascensore</h3>
                            <p class="card-text">
                                Lascia la tua macchina al sicuro e usufruisci del nostro comodo ascensore
                            </p>
                        </div>
                    </div>
                    <div class="card-back">
                        <p>
                            Il parcheggio interno e l'ascensore sono inclusi nel prezzo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-container">
                <div class="card">
                    <div class="card-front">
                        <img
                            src="/images/conventions/bar.jpeg"
                            alt="Degustazioni vini"
                            class="logo px-20"
                        />
                        <div class="card-content">
                            <h3 class="card-title">Ka' Momi Bar!!</h3>
                            <p class="card-text">
                                Il bar è sottostante alla nostra struttura
                            </p>
                        </div>
                    </div>
                    <div class="card-back">
                        <p>
                            Nemmeno due passi separano LangAmore e il bar!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="mt-16 text-center mb-20">
        <h2 class="text-2xl md:text-3xl font-bold">Prenota il Tuo Soggiorno</h2>
        <p class="text-lg mt-4 text-gray-700">
            Prenota ora il tuo soggiorno per godere di tutti i nostri servizi!
        </p>
        <div
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
        >
            <a href="/contact" class="">Prenota Ora</a>
        </div>
    </section>

    <style>
        .card-container {
            perspective: 1000px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .card {
            width: 100%;
            max-width: 550px;
            height: 500px;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }

        .card-container:hover .card {
            transform: rotateY(180deg);
        }

        .card-front, .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(107, 125, 100, 0.1);
        }

        .card-front {
            background-color: #ffffff;
        }

        .card-back {
            background-color: #74747451;
            transform: rotateY(180deg);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .card img {
            width: 100%;
            max-height: 300px;
        }

        .card-content {
            padding: 40px;
        }

        .card-title {
            font-weight: bold;
            margin-bottom: 10px;
            color: #333333;
        }

        .card-text {
            line-height: 1.6;
            color: #666666;
        }

        .logo {
            width: 100px;
            height: auto;
            margin-bottom: 10px;
        }

        @media (min-width: 640px) {
            .card {
                border-radius: 20px;
            }
        }
    </style>
</BaseLayout>
