---
title: "Locazione turistica";
summary: "Scopri la nostra Locazione turistica accoglienti e confortevoli per un soggiorno indimenticabile a LangAmore.";
url: "https://www.langamorepollenzo.it/tourist-location";

import BaseLayout from "../layouts/baseLayout.astro";
import Slider4Bed from "../components/slider4bed.astro";

//define the images for the slider
var imagesSrc = [
	"/images/Locazione_turistica/ingresso.jpeg",
	"/images/Locazione_turistica/letto.jpeg",
	"/images/Locazione_turistica/letto3.jpeg"
];
---

<BaseLayout title="Locazione Turistica | LangAmore">
    <main class="container mx-auto px-10 py-4">
        <h1 class="text-3xl font-bold text-center">
            La Locazione Turistica di LangAmore
        </h1>
        <p class="text-lg mt-4 text-gray-700 text-center leading-9 mb-10">
            Scopri la nostra locazione turistica a LangAmore, perfetta per un soggiorno indimenticabile. Situata vicino alle Langhe e al Roero, la nostra struttura offre camere spaziose e arredate con gusto, dotate di tutti i comfort.
            <br />
            L'appartamento è ideale per immergersi nella natura e gustare i piatti della tradizione piemontese. 
            <br />
            Grazie alla posizione strategica di LangAmore, potrai esplorare le Langhe e il Roero, patrimonio dell'Unesco. Visita cantine prestigiose, degusta vini pregiati e scopri borghi medievali.
            <br />
            Vieni a LangAmore e lasciati affascinare dalla bellezza del Piemonte. Ti aspettiamo per un soggiorno indimenticabile.
        </p>

        <section class="mt-8">
            <h2 class="text-2xl font-bold text-center mb-6">
                Maggiori Informazioni sulla Locazione Turistica
            </h2>
            
            <main class="container mx-auto mb-12 mt-10">        
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <div>
                        <Slider4Bed images={imagesSrc} />
                    </div>
                    <div class="content-section">
                        <p>
                            Caratteristiche principali dell'appartamento:
                            <li class="font-bold">Camera da letto: Arredata con gusto e climatizzata, offre la possibilità di aggiungere un letto supplementare.</li>
                            <li class="font-bold">Zona living: Spaziosa e luminosa, comprende un divano letto per ospiti aggiuntivi.</li>
                            <li class="font-bold">Cucina: Completamente attrezzata con fornelli a induzione, macchinetta del caffè e tutto il necessario per preparare una colazione leggera a base di tè, caffè o cappuccino, fette biscottate e marmellata.</li>
                            <li class="font-bold">Bagno: Dotato di doccia e tutti i servizi essenziali, inclusi asciugamani e asciugacapelli.</li>
                            <br />
                            L'aria condizionata è presente in tutto l'appartamento per garantire il massimo comfort. Perfetto per coppie, famiglie o piccoli gruppi, questo appartamento ti farà sentire come a casa mentre esplori le meraviglie di LangAmore.
                        </p>
                    </div>
                </div>
            </main>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-6">
                <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-xl font-bold">Camere Confortevoli</h3>
                    <p class="mt-4 text-gray-700">
                        Le nostre camere sono spaziose e luminose, arredate con
                        gusto e dotate di tutti i comfort per garantire un
                        soggiorno piacevole e rilassante. Ogni camera dispone di
                        bagno privato, aria condizionata, TV a schermo piatto,
                        connessione Wi-Fi gratuita e molto altro.
                    </p>
                </div>

                <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-xl font-bold">Servizi Esclusivi</h3>
                    <p class="mt-4 text-gray-700">
                        Presso la nostra locazione turistica potrai usufruire di
                        una serie di servizi esclusivi per rendere il tuo
                        soggiorno ancora più piacevole e confortevole. Tra i
                        servizi offerti: colazione a buffet, parcheggio
                        gratuito, giardino con piscina, noleggio biciclette e
                        molto altro.
                    </p>
                </div>
            </div>

            <section class="mt-8 text-center">
                <h2 class="text-2xl font-bold">Prenota il Tuo Soggiorno</h2>
                <p class="text-lg mt-4 text-gray-700">
                    Scegli la camera che più si adatta alle tue esigenze e
                    prenota il tuo soggiorno a LangAmore. Ti aspettiamo!
                </p>
                <div
                    class="bg-green-300 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
                >
                    <a href="/contact" class="">Prenota Ora</a>
                </div>
            </section>
        </section>
    </main>
</BaseLayout>
