<!-- Navbar -->
<nav class="bg-white shadow-lg">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between">
            <!-- Logo -->
            <div class="flex space-x-4">
                <a href="/" class="flex items-center py-5 px-2 text-gray-700">
                    <img src="/images/logo.jpeg" alt="Logo" class="h-8 w-8" />
                    <span class="font-bold">Bad and breakfast</span>
                </a>
            </div>
            <!-- Primary Nav -->
            <div class="hidden md:flex items-center space-x-1">
                <a href="/" class="py-5 px-3 text-gray-700 hover:text-blue-900"
                    >Home</a
                >
                <a
                    href="/about"
                    class="py-5 px-3 text-gray-700 hover:text-blue-900">About</a
                >
                <a
                    href="/services"
                    class="py-5 px-3 text-gray-700 hover:text-blue-900"
                    >Services</a
                >
                <a
                    href="/contact"
                    class="py-5 px-3 text-gray-700 hover:text-blue-900"
                    >Contact</a
                >
            </div>
        </div>
    </div>
</nav>
