---

var imagesSrc = Astro.props.src;
var ImagesAlt = Astro.props.alt;

import { Image } from 'astro:assets';

---

<div class="relative w-full overflow-hidden p-10" id="slider">
  <div class="slide-container">
    {
      imagesSrc.map((image, index) => (
        <Image src={image} alt={ImagesAlt[index]} width={800} height={400} class="slide-image" />
      ))
    }
  </div>
</div>

<style>
  .relative {
    height: 50vh; /* Imposta l'altezza del contenitore principale */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .slide-container {
    display: flex; /* Layout flex per contenere le immagini in linea */
    transition: transform 0.5s ease; /* Transizione per lo spostamento */
    width: 100%; /* Larghezza al 100% per contenere tutte le immagini */
  }

  .slide-image {
    flex: 0 0 100%; /* Ogni immagine occupa il 100% della larghezza del contenitore */
    height: 100%; /* Altezza delle immagini al 100% */
    object-fit:scale-down; /* Ritaglia l'immagine per adattarsi al contenitore */
    border-radius: 100px; /* Arrotonda gli angoli */
  }


  @media (max-width: 768px) {
    #slider{
      display: none; /* Nascondi le immagini su schermi più piccoli */
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const slides = document.querySelectorAll(".slide-image");
    const slideContainer = document.querySelector(".slide-container");

    let currentIndex = 0;

    function showSlide(index) {
      const totalSlides = slides.length;
      currentIndex = (index + totalSlides) % totalSlides; // Assicura che l'indice si riavvolga
      const offset = currentIndex * -100; // Calcola l'offset corretto
      slideContainer.style.transform = `translateX(${offset}%)`;
    }

    setInterval(() => {
      showSlide(currentIndex + 1);
    }, 3000);

    showSlide(currentIndex); // Mostra l'immagine iniziale
  });
</script>
