---
title: "Camere";
summary: "Scopri le nostre camere accoglienti e confortevoli per un soggiorno indimenticabile a LangAmore.";
url: "https://langamorepollenzo/bedroom/";

import BaseLayout from "../../layouts/baseLayout.astro";
---

<BaseLayout title="Camere | LangAmore">
    <main class="container mx-auto px-6 md:px-16 py-8 mb-12 mt-10">
        <h1 class="text-3xl md:text-4xl font-bold text-center mb-8">
            Le Camere di LangAmore: Un Rifugio di Relax e Benessere
        </h1>
        <p class="text-lg mt-4 text-gray-700 text-center leading-8 md:leading-9">
            LangAmore non è solo una guest house, ma un rifugio per l'anima.
            <br />
            Immersa nel borgo di Pollenzo, a pochi passi da Alba e Bra, LangAmore
            vi invita a riscoprire il piacere del riposo e la bellezza della semplicità.
            <br />
            Lasciatevi avvolgere dall'atmosfera calda e accogliente delle nostre
            camere, arredate con gusto e curate in ogni dettaglio per garantirvi
            un soggiorno confortevole e rilassante.
            <br />
            Scegli la camera che più si adatta alle tue esigenze e preparati a vivere
            un'esperienza indimenticabile a LangAmore.
        </p>

        <section class="mt-8">
            <h2 class="text-2xl md:text-3xl font-bold text-center mb-8">
                Camere per Tutti i Gusti
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
                <div class="card bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                    <a href="/bedroom/matrimoniale">
                        <img
                            src="/images/Camera_2/fd1262c9-4f64-42c4-8583-009dc65aef57.jpg"
                            alt="Camera Matrimoniale"
                            class="w-full rounded-lg mb-4 object-cover h-48 md:h-64"
                        />
                    </a>
                    <h3 class="text-xl font-semibold mb-2">
                        <a href="/bedroom/matrimoniale">Camera Matrimoniale</a>
                    </h3>
                    <p class="text-gray-700">
                        Per un soggiorno accogliente e confortevole, la nostra camera matrimoniale offre
                        un letto matrimoniale e un bagno privato.
                    </p>
                </div>
                <div class="card bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                    <a href="/bedroom/deluxe">
                        <img
                            src="/images/Camera_Deluxe/7bbd882e-5d58-49b3-8548-4e546a6f969e.jpg"
                            alt="Camera Deluxe"
                            class="w-full rounded-lg mb-4 object-cover h-48 md:h-64"
                        />
                    </a>
                    <h3 class="text-xl font-semibold mb-2">
                        <a href="/bedroom/deluxe">Camera Deluxe</a>
                    </h3>
                    <p class="text-gray-700">
                        Perfetta per amici o famiglie, la nostra camera deluxe offre un letto matrimoniale 
                        e un letto supplementare, un bagno privato e un'area salotto con tv.
                    </p>
                </div>
                <div class="card bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                    <a href="/bedroom/idro">
                        <img
                            src="/images/Camera_vasca_idro/13f5b2ee-9d5c-41d3-a146-a45d19ea1e81.jpg"
                            alt="Camera Idro"
                            class="w-full rounded-lg mb-4 object-cover h-48 md:h-64"
                        />
                    </a>
                    <h3 class="text-xl font-semibold mb-2">
                        <a href="/bedroom/idro">Camera Idro</a>
                    </h3>
                    <p class="text-gray-700">
                        Ideale per coppie, la nostra camera idro offre un 
                        letto matrimoniale e un bagno privato con vasca idromassaggio.
                    </p>
                </div>
            </div>
        </section>

        <section class="mt-16 text-center">
            <h2 class="text-2xl md:text-3xl font-bold">Prenota il Tuo Soggiorno</h2>
            <p class="text-lg mt-4 text-gray-700">
                Scegli la camera che più si adatta alle tue esigenze e prenota
                il tuo soggiorno a LangAmore. Ti aspettiamo!
            </p>
            <div
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
            >
                <a href="/contact" class="">Prenota Ora</a>
            </div>
        </section>
    </main>
</BaseLayout>
