---
title: "Camere";
summary: "Scopri le nostre camere accoglienti e confortevoli per un soggiorno indimenticabile a LangAmore.";
url: "camere";

import BaseLayout from "../../layouts/baseLayout.astro";
---

<BaseLayout title="Camere | LangAmore">
    <main class="container mx-auto px-16 py-8">
        <h1 class="text-3xl font-bold text-center">
            Le Camere di LangAmore: Un Rifugio di Relax Tra le Colline
            Piemontesi
        </h1>
        <p class="text-lg mt-4 text-gray-700 text-center leading-9">
            Nascosta tra le suggestive colline delle Langhe, LangAmore non è
            solo una guest house, ma un rifugio per l'anima.
            <br />
            Immersa nel borgo di Pollenzo, a pochi passi da Alba e Bra, LangAmore
            vi invita a riscoprire il piacere del riposo e la bellezza della semplicità.
            <br />
            Lasciatevi avvolgere dall'atmosfera calda e accogliente delle nostre
            camere, arredate con gusto e curate in ogni dettaglio per garantirvi
            un soggiorno confortevole e rilassante.
            <br />
            Scegli la camera che più si adatta alle tue esigenze e preparati a vivere
            un'esperienza indimenticabile a LangAmore.
        </p>

        <section class="mt-8">
            <h2 class="text-2xl font-bold text-center">
                Camere per Tutti i Gusti
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
                <div class="card bg-white p-8 rounded-lg shadow-md">
                    <a href="/bedroom/matrimoniale">
                        <img
                            src="/images/Camera_2/fd1262c9-4f64-42c4-8583-009dc65aef57.jpg"
                            alt="Camera Matrimoniale"
                            class="w-full rounded-lg mb-4"
                        />
                    </a>
                    <h3 class="text-xl stroke-black">
                        <a href="/bedroom/matrimoniale">Camera Matrimoniale</a>
                    </h3>
                    <p class="text-gray-700">
                        Ideale per coppie, la nostra camera matrimoniale offre
                        un letto king size, un bagno privato e una vista
                        mozzafiato sulle colline.
                    </p>
                </div>
                <div class="card bg-white p-8 rounded-lg shadow-md">
                    <a href="/bedroom/deluxe">
                        <img
                            src="/images/Camera_Deluxe/7bbd882e-5d58-49b3-8548-4e546a6f969e.jpg"
                            alt="Camera deluxe"
                            class="w-full rounded-lg mb-4"
                        />
                    </a>
                    <h3 class="text-xl stroke-black">
                        <a href="/bedroom/deluxe">Camera Deluxe</a>
                    </h3>
                    <p class="text-gray-700">
                        Perfetta per amici o viaggiatori singoli, la nostra
                        camera doppia offre due letti singoli, un bagno privato
                        e una vista sul giardino.
                    </p>
                </div>
                <div class="card bg-white p-8 rounded-lg shadow-md">
                    <a href="/bedroom/idro">
                        <img
                            src="/images/Camera_vasca_idro/13f5b2ee-9d5c-41d3-a146-a45d19ea1e81.jpg"
                            alt="Camera idro"
                            class="w-full rounded-lg mb-4"
                        />
                    </a>
                    <h3 class="text-xl stroke-black">
                        <a href="/bedroom/idro">Camera idro</a>
                    </h3>
                    <p class="text-gray-700">
                        Accogliente e confortevole, la nostra camera idro offre
                        un letto singolo, un bagno privato e una vista sul
                        borgo.
                    </p>
                </div>
            </div>
        </section>

        <section class="mt-8">
            <h2 class="text-2xl font-bold text-center">Servizi e Comfort</h2>
            <ul class="list-disc">
                <li class="text-lg mt-4 text-gray-700">
                    Lenzuola e asciugamani di alta qualità
                </li>
                <li class="text-lg mt-4 text-gray-700">
                    Prodotti da bagno di cortesia
                </li>
                <li class="text-lg mt-4 text-gray-700">
                    Wi-Fi gratuito in tutta la struttura
                </li>
                <li class="text-lg mt-4 text-gray-700">
                    Aria condizionata e riscaldamento autonomi
                </li>
                <li class="text-lg mt-4 text-gray-700">TV a schermo piatto</li>
                <li class="text-lg mt-4 text-gray-700">Minibar</li>
                <li class="text-lg mt-4 text-gray-700">Asciugacapelli</li>
                <li class="text-lg mt-4 text-gray-700">Cassaforte</li>
                <li class="text-lg mt-4 text-gray-700">
                    Colazione ricca e gustosa
                </li>
                <li class="text-lg mt-4 text-gray-700">Parcheggio gratuito</li>
                <li class="text-lg mt-4 text-gray-700">Deposito bagagli</li>
                <li class="text-lg mt-4 text-gray-700">
                    Animali domestici ammessi (su richiesta)
                </li>
                <li class="text-lg mt-4 text-gray-700">
                    Servizio di noleggio biciclette
                </li>
                <li class="text-lg mt-4 text-gray-700">
                    Informazioni turistiche e consigli su cosa fare e vedere nei
                    dintorni
                </li>
            </ul>
        </section>

        <section class="mt-8 text-center">
            <h2 class="text-2xl font-bold">Prenota il Tuo Soggiorno</h2>
            <p class="text-lg mt-4 text-gray-700">
                Scegli la camera che più si adatta alle tue esigenze e prenota
                il tuo soggiorno a LangAmore. Ti aspettiamo!
            </p>
            <div
                class="bg-green-300 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-full shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 mt-6 inline-block"
            >
                <a href="/contact" class="">Prenota Ora</a>
            </div>
        </section>
    </main>
</BaseLayout>
