---

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import HeadersTags from "../components/headersTags.astro";
import CookieBanner from "../components/cookieBanner.astro";
import StructuredData from "../components/structuredData.astro";

const {title} = Astro.props;
import "../styles/global.css";

//layout for the entire site
---

<!DOCTYPE html>
<html lang="it">
  <head>
    <HeadersTags />
  <StructuredData />
    <slot name="head" />
    <title>{title}</title>
  </head>
  <body class="antialiased">
    <div class="min-h-screen flex flex-col">
      <Header />
      <div class="flex-1 pt-24 lg:pt-28">
        <slot />
      </div>
      <Footer />
    </div>
    <CookieBanner />
  </body>
</html>

